:root {
    --primary-color: #011920;
    --orange-color: #ff8700;
    --header-background: #04171e;
    --menu-background: #03171e;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

section {
    padding: 100px 0;
}

/* MAIN CSS */

.align-center {
    align-items: center;
}

.info {
    font-size: 24px;
    letter-spacing: 2px;
    font-style: italic;
    text-transform: uppercase;
    color: var(--orange-color);
}

@media (max-width: 992px) {
    .info {
        font-size: 17px;
    }
}

.btn {
    padding: 20px 50px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease;
}

@media (max-width: 992px) {
    .btn {
        padding: 5px 20px;
        font-size: 11px;
    }
}

.btn:hover {
    background-color: var(--orange-color);
    border: none;
    color: white;
}

.reservation {
    margin: 10px 0 20px 0;
    letter-spacing: 2px;
    color: white;
}

.reservation a {
    color: var(--orange-color);
    text-decoration: underline;
}

.title {
    margin-top: 15px;
    font-size: 45px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
}

/* MAIN CSS END */

/* HEADER */
.hamburger {
    display: none;
}

.hamburger .bar {
    display: block;
    margin: 5px 0;
    height: 3px;
    width: 30px;
    background-color: var(--orange-color);
    transition: 0.3s ease;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-logo {
    display: none;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
    }
    .logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        padding-left: 40px;
    }
    .hamburger {
        display: block;
        position: fixed;
        right: 40px;
        top: 15px;
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav {
        width: 30%;
        height: 100vh;
        position: fixed;
        background-color: var(--header-background);
        left: -100%;
        top: 54px;
        z-index: 3;
        justify-content: center !important;
        transition: 0.3s ease;
    }

    .nav-list {
        flex-direction: column;
        padding-top: 40px;
    }
    .nav.active {
        left: 0;
    }
}

.header {
    background-color: var(--header-background);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 99999;
}
.nav {
    display: flex;
    justify-content: flex-end;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list li a {
    color: white;
}

/* HERO - SECTION */
.hero-slider {
    padding: 0;
}

.heroSlider {
    position: relative;
}

.hero-block {
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.hero-column {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    line-height: 1.3;
    font-size: 70px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .hero-column {
        font-size: 22px;
        margin: 15px 0;
    }
}

.hero-info {
    margin-bottom: 60px;
    letter-spacing: 2px;
}

@media (max-width: 992px) {
    .hero-info {
        margin-bottom: 22px;
        font-size: 6px;
    }
}

.hero-info a {
    color: var(--orange-color);
    text-decoration: underline;
}

.heroSlider .swiper-pagination-bullet {
    background-color: white;
    padding: 8px;
}

/* VIEW MENU SECTION */

.view-menu {
    background-image: url("../images//menu-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 100px 0px 50px 0;
}

.view-menu-title {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    font-weight: bold;
}

.view-menu-text {
    margin: 10px 0;
}

.advertising {
    padding: 50px 0px;
}

/* SPECIAL MENU SECTION */

.special-menu {
    background-image: url("../images/our-menu-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.special-menu-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.menu-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.menu-btn button {
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid var(--orange-color);
    color: white;
    transition: all 0.3s ease;
}

.menu-btn button.active {
    background: var(--orange-color);
}

.special-menu-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    color: white;
}

@media (max-width: 992px) {
    .menu-wrapper {
        flex-direction: column;
    }
}

.menu-item-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.menu-item-title {
    font-size: 22px;
}

.menu-item-desc {
    font-size: 12px;
    letter-spacing: 2px;
}

.menu-item-price {
    padding-left: 30px;
    font-weight: bold;
}

/* ABOUT US SECTION */

.about-us {
    background-image: url(../images/menu-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .about-right-wrapper {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }
}

.about-box {
    color: white;
}

.about-box-title {
    font-size: 22px;
}

.about-box-text {
    font-size: 14px;
    margin-top: 10px;
}

/* RUNTIME SECTION */

.runtime {
    background-image: url(../images/footer-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

@media (max-width: 992px) {
    .runtime-area {
        margin-bottom: 50px;
    }
}

.opening {
    margin-top: 40px;
    color: white;
}

.opening-title {
    font-size: 22px;
}

.days {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.day {
    text-decoration: underline;
    font-weight: bold;
}

.happy {
    color: var(--orange-color);
}

/* TESTIMONIALS SECTION */

.testimonials {
    background-image: url(../images/menu-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonials-title {
    text-align: center;
}

.testimonialsSlider {
    padding: 50px 0 100px 0;
}

.testimonial-box {
    color: white;
    background-color: var(--header-background);
    padding: 30px;
}

.testimonial-box-comment {
    font-size: 12px;
    letter-spacing: 2px;
}

.testimonial-box-bottom {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 30px;
}

.testimonial-box-bottom img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.testimonial-box-content {
    display: flex;
    flex-direction: column;
}

.testimonial-box-name {
    font-weight: bold;
    font-size: 22px;
    color: var(--orange-color);
}

.testimonial-box-job {
    font-size: 14px;
    letter-spacing: 2px;
}

.testimonialsSlider .swiper-pagination-bullet {
    background-color: white;
    padding: 8px;
}

/* HOME BLOG SECTION */

.home-blog {
    background-image: url(../images//post-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogSlider {
    padding: 100px;
}

.blogSlider .swiper-button-next {
    color: var(--orange-color);
}

.blogSlider .swiper-button-prev {
    color: var(--orange-color);
}

.home-blog-title {
    text-align: center;
}

.blog-box-content {
    background-color: var(--header-background);
    padding: 30px;
    color: white;
}

.blog-box-content-wrapper {
    color: var(--orange-color);
    font-style: italic;
    display: flex;
    gap: 15px;
}

.blog-box-title {
    margin: 15px 0;
    font-size: 22px;
}

.blog-box-content button {
    width: 100%;
    height: 50px;
    background: none;
    color: white;
    border: 1px solid var(--orange-color);
    transition: all 0.3s ease;
}

.blog-box-content button:hover {
    background-color: var(--orange-color);
}

/* CTA SECTION */

.cta {
    background-image: url(../images/menu-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cta-right {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 992px) {
    .cta-right {
        margin-top: 30px;
    }
}

.cta-right-text {
    color: white;
    margin: 15px 0 30px 0;
    letter-spacing: 2px;
    font-size: 18px;
}

.cta-right-input {
    width: 100%;
    padding: 0px 50px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.cta-right-input input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background: none;
    border: 1px solid white;
    color: white;
}

.cta-right-input button {
    height: 50px;
    border: 1px solid white;
    padding: 0px 30px;
    transition: all 0.3s ease;
}

.cta-right-input button:hover {
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    color: white;
}

/* FOOTER SECTION */

.footer {
    background-image: url(../images/footer-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.footer-text {
    margin: 20px 0;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-icons a i {
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-icons a:hover i {
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

.footer-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .footer-list {
        flex-direction: column;
        gap: 20px;
    }
}

.list-title {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.footer-list ul {
    margin-top: 20px;
}

.footer-list ul li {
    margin-top: 20px;
}

.footer-list ul li a {
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.footer-list ul li a:hover {
    color: var(--orange-color);
}

/* BREADCRUMB */

.breadcrumb {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    background-image: url(../images/breadcrumb-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

/* MENU PAGE  */

.menu-page {
    background-image: url(../images/menu-background.jpg);
    background-position: center;
}

.menu-page .menu-wrapper {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-page .item-title {
    font-size: 32px;
    margin-bottom: 30px;
    color: var(--orange-color);
}

/* EXPERIENCE */

.experience {
    background-image: url(../images//footer-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.experience-text {
    color: white;
    font-size: 14px;
}

@media (max-width: 992px) {
    .experience-area {
        margin-top: 30px;
    }
}

/* CHEFS */

.chefs {
    background-image: url(../images/chef-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chefs-title {
    text-align: center;
    padding-bottom: 30px;
}

.chef-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}
.chef-box img {
    height: 300px;
    max-height: 100%;
}
.chef-box-content {
    margin-top: 15px;
    background-color: var(--menu-background);
    padding: 15px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.chef-box-name {
    font-size: 22px;
    font-weight: 800;
}

.chef-box:hover .chef-box-content {
    background-color: var(--orange-color);
    border: none;
}

.chefs .swiper-button-next {
    color: var(--orange-color);
}

.chefs .swiper-button-prev {
    color: var(--orange-color);
}
