:root {
    --primary-color: #011920;
    --orange-color: #ff8700;
    --header-background: #04171e;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* MAIN CSS */
.info {
    font-size: 24px;
    letter-spacing: 2px;
    font-style: italic;
    color: var(--orange-color);
}

@media (max-width: 992px) {
    .info {
        font-size: 17px;
    }
}

.btn {
    padding: 20px 50px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease;
}

@media (max-width: 992px) {
    .btn {
        padding: 5px 20px;
        font-size: 11px;
    }
}

.btn:hover {
    background-color: var(--orange-color);
    border: none;
}

.reservation {
    margin: 10px 0 20px 0;
    letter-spacing: 2px;
}

.reservation a {
    color: var(--orange-color);
    text-decoration: underline;
}

/* MAIN CSS END */

/* HEADER */
.hamburger {
    display: none;
}

.hamburger .bar {
    display: block;
    margin: 5px 0;
    height: 3px;
    width: 30px;
    background-color: var(--orange-color);
    transition: 0.3s ease;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-logo {
    display: none;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        padding-left: 40px;
    }
    .hamburger {
        display: block;
        position: fixed;
        right: 40px;
        top: 15px;
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav {
        width: 30%;
        height: 100vh;
        position: fixed;
        background-color: var(--header-background);
        left: -100%;
        top: 54px;
        z-index: 3;
        justify-content: center !important;
        transition: 0.3s ease;
    }

    .nav-list {
        flex-direction: column;
        padding-top: 40px;
    }
    .nav.active {
        left: 0;
    }
}

.header {
    background-color: var(--header-background);
    padding: 10px 0;
}
.nav {
    display: flex;
    justify-content: flex-end;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list li a {
    color: white;
}

/* HERO - SECTION */
.heroSlider {
    position: relative;
}

.hero-block {
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.hero-column {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    line-height: 1.3;
    font-size: 70px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .hero-column {
        font-size: 22px;
        margin: 15px 0;
    }
}

.hero-info {
    margin-bottom: 60px;
    letter-spacing: 2px;
}

@media (max-width: 992px) {
    .hero-info {
        margin-bottom: 22px;
        font-size: 6px;
    }
}

.hero-info a {
    color: var(--orange-color);
    text-decoration: underline;
}

.heroSlider .swiper-pagination-bullet {
    background-color: white;
    padding: 8px;
}

/* VIEW MENU SECTION */

.view-menu {
    background-image: url("../images//menu-background.jpg");
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 100px 0px 50px 0;
}

.view-menu-title {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    font-weight: bold;
}

.view-menu-text {
    margin: 10px 0;
}

.advertising {
    padding: 50px 0px;
}
